<header class="header">
  <div class="container header-items">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Hotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Restaurant</a>
        </li>
      </ul>
    </nav>
    <svg class="btn-menu-burger" width="32" height="32">
      <use href="/images/icons/sprite.svg#menu-burg"></use>
    </svg>
    <a class="logo" href="">
      <span class="logo-top">Mimino</span>
      <span class="logo-bottom">restaurant-hotel complex</span>
    </a>

    <ul class="socials-list">
      <li class="socials-item">
        <a class="socials-link" href="">
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a class="socials-link" href="">
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a class="socials-link" href="">
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
