<section class="sec-1" id="sec-1">
  <div class="container">
    <h2>Sec-1</h2>

    <div class="gallery ">
      <div class="galery-small">
        <img class="small-image small-image-left " src="./images/gallery/image.jpg" />
        <img class="small-image" src="./images/gallery/image-1.jpg" />
      </div>
      <img class="main-image " src="./images/gallery/image-2.jpg" />
      <div class="galery-small">
        <img class="small-image " src="./images/gallery/image-3.jpg" />
        <img class="small-image small-image-right" src="./images/gallery/image-4.jpg" />
      </div>
    </div>

<div class="slider-mob">
  <div class=" slider-for ">
         <div class="slider-for-img"> <img class="slider-img " src="./images/gallery/image.jpg" /></div>
         <div class="slider-for-img"> <img class="slider-img" src="./images/gallery/image-1.jpg" /></div>
         <div class="slider-for-img"> <img class="slider-img " src="./images/gallery/image-2.jpg" /></div>
         <div class="slider-for-img"> <img class="slider-img " src="./images/gallery/image-3.jpg" /></div>
         
      </div>
      <div class=" slider-nav ">
         <div class="slider-nav-img"> <img class="slider-img " src="./images/gallery/image-1.jpg" /></div>
         <div class="slider-nav-img"> <img class="slider-img" src="./images/gallery/image-2.jpg" /></div>
         <div class="slider-nav-img"> <img class="slider-img " src="./images/gallery/image-3.jpg" /></div>
         <div class="slider-nav-img"> <img class="slider-img " src="./images/gallery/image.jpg" /></div>
       
      </div>
        <div class="slider-btn-wrap">
      <button type="button" class="gallery-slider-btn-prev "> <svg class="slider-btn-icon" width="12" height="12"><use href="./images/icons/sprite.svg#button-left"></use></svg></button>
  <button type="button" class="gallery-slider-btn-next"><svg class="slider-btn-icon" width="12" height="12"><use href="./images/icons/sprite.svg#button-right"></use></svg></button>
    </div>
</div>



  </div>
</section>
