<section class="sec-1" id="sec-1">
  <div class="container">
    <h2>Sec-1</h2>

    <div class="gallery">
      <div class="galery-small">
        <img class="small-image " src="./images/gallery/image.jpg" />
        <img class="small-image" src="./images/gallery/image-1.jpg" />
      </div>
      <img class="main-image " src="./images/gallery/image-2.jpg" />
      <div class="galery-small">
        <img class="small-image" src="./images/gallery/image-3.jpg" />
        <img class="small-image" src="./images/gallery/image-4.jpg" />
      </div>
    </div>
  </div>
</section>
