<section class="restaurant" id="restaurant">
  <div class="container">
    <div class="restaurant-wrap-text">
      <h2 class="restaurant-title">restaurant</h2>
      <p class="restaurant-desc">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <!-- Slider -->

    <div class="slider">
      <div class="slider-container" id="autoplay">
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-1.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-2.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-3.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-4.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-5.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-6.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-7.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-8.jpg"
          alt="meal"
        />
      </div>
      
    </div>
    <div class="slider-btn-wrap">
      <button type="button" class="slider-btn-prev "> <svg class="slider-btn-icon" width="12" height="12"><use href="./images/icons/sprite.svg#button-left"></use></svg></button>
  <button type="button" class="slider-btn-next"><svg class="slider-btn-icon" width="12" height="12"><use href="./images/icons/sprite.svg#button-right"></use></svg></button>
    </div>
    </div>


    <div class="restaurant-btns">
      <button class="restaurant-btn">book a table</button>
      <button class="restaurant-btn">View the menu</button>
    </div>
  </div>
</section>
