<section class="restaurant" id="restaurant">
  <div class="container">
    <div class="restaurant-wrap-text">
      <h2 class="restaurant-title">restaurant</h2>
      <p class="restaurant-desc">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <!-- Slider -->

    <div class="slider-container" id="autoplay">
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-1.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-2.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-3.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-4.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-5.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-6.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-7.jpg"
          alt="meal"
        />
      </div>
      <div class="slider-card">
        <img
          class="slider-img"
          src="./images/sect-slider/image-8.jpg"
          alt="meal"
        />
      </div>
    </div>


    <div class="restaurant-btns">
      <button class="restaurant-btn">book a table</button>
      <button class="restaurant-btn">View the menu</button>
    </div>
  </div>
</section>
